<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218574771960-lidu9flim728833o97nb6l640cshqbnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218574771960-lidu9flim728833o97nb6l640cshqbnm</string>
	<key>API_KEY</key>
	<string>AIzaSyCbV40zJ-GA-cJ2Pxu_b4vLPUxn4VjLePU</string>
	<key>GCM_SENDER_ID</key>
	<string>218574771960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maveshifinproj</string>
	<key>PROJECT_ID</key>
	<string>semester-project-d4339</string>
	<key>STORAGE_BUCKET</key>
	<string>semester-project-d4339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218574771960:ios:abf1e5006e3c0e326e4d0d</string>
</dict>
</plist>